################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorAuth/v17
/.vs/BlazorAuth
